<div id="main-wrapper">
    <!--Nav header end-->
    <div class="nav-header">
        <a href="/" class="brand-logo">
            <div class="column">
                <img
          class="logo-abbr"
          width="40px"
          height="45px"
          src="/images/logo.png"
        />
            </div>
        </a>
        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--Nav header end-->

    <!--Header start-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="headaer-title">
                            <h1 class="font-w600 mb-0">Thêm chuyến du lịch</h1>
                        </div>
                    </div>
                    <ul class="navbar-nav header-right">
                        {{!-- DatePicker --}}
                        <li class="nav-item dropdown header-profile">
                            <div id="datepicker" class="input-group date dz-calender" data-date-format="mm-dd-yyyy">
                                <span class="input-group-addon d-flex align-items-center">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.8337 3.16667H14.0003V1.50001C14.0003 1.27899 13.9125 1.06703 13.7563 0.910749C13.6 0.754469 13.388 0.666672 13.167 0.666672C12.946 0.666672 12.734 0.754469 12.5777 0.910749C12.4215 1.06703 12.3337 1.27899 12.3337 1.50001V3.16667H5.66699V1.50001C5.66699 1.27899 5.5792 1.06703 5.42292 0.910749C5.26663 0.754469 5.05467 0.666672 4.83366 0.666672C4.61265 0.666672 4.40068 0.754469 4.2444 0.910749C4.08812 1.06703 4.00033 1.27899 4.00033 1.50001V3.16667H3.16699C2.50395 3.16667 1.86807 3.43006 1.39923 3.8989C0.930384 4.36775 0.666992 5.00363 0.666992 5.66667V6.5H17.3337V5.66667C17.3337 5.00363 17.0703 4.36775 16.6014 3.8989C16.1326 3.43006 15.4967 3.16667 14.8337 3.16667Z"
                                            fill="#F66F4D" />
                                        <path
                                            d="M0.666992 14.8333C0.666992 15.4964 0.930384 16.1322 1.39923 16.6011C1.86807 17.0699 2.50395 17.3333 3.16699 17.3333H14.8337C15.4967 17.3333 16.1326 17.0699 16.6014 16.6011C17.0703 16.1322 17.3337 15.4964 17.3337 14.8333V8.16666H0.666992V14.8333Z"
                                            fill="#F66F4D" />
                                    </svg>
                                </span>
                                <input class="form-control" type="text" readonly />
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--Header end ti-comment-alt-->

    <!--Sidebar start-->
    <div class="deznav">
        <div class="deznav-scroll">
            <ul class="metismenu" id="menu">
                <li><a class="has-arrow " href="/" aria-expanded="false">
                        <i class="flaticon-025-dashboard"></i>
                        <span class="nav-text">Thống kê</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/cpanel/users" aria-expanded="false">
                        <i class="flaticon-006-brightness"></i>
                        <span class="nav-text">Tài khoản</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/cpanel/locations" aria-expanded="false">
                        <i class="flaticon-017-clipboard"></i>
                        <span class="nav-text">Điểm du lịch</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/cpanel/tours" aria-expanded="false">
                        <i class="flaticon-017-clipboard"></i>
                        <span class="nav-text">Chuyến du lịch</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/cpanel/events" aria-expanded="false">
                        <i class="flaticon-086-star"></i>
                        <span class="nav-text">Sự kiện</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/cpanel/blogs" aria-expanded="false">
                        <i class="flaticon-022-copy"></i>
                        <span class="nav-text">Bài viết</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/logout" aria-expanded="false">
                        <i class="flaticon-061-outside"></i>
                        <span class="nav-text">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--Sidebar end-->

    <div class="content-body">
        <!-- row -->
          <form action="/cpanel/tours/add-tour" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <div class="card h-auto mb-2">
                        <div class="card-body col-sm-12 border-0 pb-0">
                            <span>Tên</span> <br>
                            <input class="fs-24 col-sm-12 font-w500 form-control" type="text" name="name_tour" id="">
                        </div>
                        <div class="row card-body border-0 pb-0">
                            <div class="col-sm-6 border-0 pb-0">
                                <span>Giá</span> <br>
                                <input class="fs-15 col-sm-12 font-w400 form-control" type="text" name="price_tour" id="">
                            </div>
                            {{!-- <div class="col-sm-6 border-0 pb-0">
                                <span>Số lượng</span> <br>
                                <input class="fs-15 col-sm-12 font-w400 form-control" type="text" name="quantity" id="">
                            </div> --}}
                        </div>
                        <div class="row card-body border-0 pb-0">
                            <div class="col-sm-6 border-0 pb-0">
                                <span>Điểm khởi hành</span> <br>
                                <select class="form-select" aria-label="" name="departure_start">
                                    <option selected>Chọn địa điểm</option>
                                    {{#each provinces}}
                                    <option value="{{this.name}}" >{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-6 border-0 pb-0">
                                <span>Điểm đến</span> <br>
                                <select class="form-select" aria-label="" name="departure_end">
                                    <option selected>Chọn địa điểm</option>
                                    {{#each provinces}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="card-body col-sm-12 border-0 pb-0">
                            <span>Địa điểm</span> <br>
                            <select class="form-select" aria-label="" multiple multiselect-hide-x="true" multiselect-search="true" name="locations_tour" onchange="removePlaceholder(this)">
                                 <option value="" disabled selected>Chọn địa điểm</option>
                                    {{#each locations}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                          
                            
                        </div>
                        <div class="row card-body border-0 pb-0">
                            <div class="col-sm-6 border-0 pb-0">
                                <span>Ngày khởi hành</span> <br>
                                <input class="fs-15 col-sm-12 font-w400 form-control" type="date" name="day_start" id="">
                            </div>
                            <div class="col-sm-6 border-0 pb-0">
                                <span>Ngày kết thúc</span> <br>
                                <input class="fs-15 col-sm-12 font-w400 form-control" type="date" name="day_end" id="">
                            </div>
                        </div>
                        <div class="card-body col-sm-12 border-0 pb-0">
                            <span>Mô tả</span> <br>
                            <textarea name="description_tour" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="card-body col-sm-12 border-0 pb-0">
                            <div style="margin-bottom: 10px ; margin-top: 5px"> <span>Lịch trình</span>  
                               <button style="width: 20px; height: 20px; border-radius: 20px" type="button" id="add-input">+</button></div>
                           
                            <div id="input-container">
   <input class="form-control" style="width: 90%" type="text" name="dataArray" placeholder="Nhập lịch trình ngày 1" /> </br>
  </div>
  
                        </div>
                     
                         <div class="card-footer border-0 pt-0">
                                <button style="width: 150px;" type="submit" class="btn btn-success btn-sm mb-4">
                                    Thêm
                                </button>
                            </div>
                    </div>
                </div>
               <div class="col-sm-6 mb-3">
            <div class="h-auto mb-3">
              <input
                type="file"
                name="image"
                id="file"
                onchange="displayImg()"
              />
              <input type="hidden" name="imgUrl" id="imgUrl">
            </div>
            <div class="h-auto mb-3">
              <img
                width="300"
                height="300"
                style="margin-left:30px,object-fit: cover; object-position: center;"
                id="img"
              />
            </div>
          </div>
            </div>
        </div>
        </form>
    </div>
</div>



<script>
  function removePlaceholder(selectElement) {
    var selectedOptions = selectElement.selectedOptions;
    var placeholderOption = selectElement.querySelector('option[disabled][selected]');

    if (selectedOptions.length > 0 && placeholderOption) {
      placeholderOption.removeAttribute('selected');
      placeholderOption.disabled = false;
    }
  }
</script>

<style>
  .input-row {
    margin-bottom: 20px;
  }

  .input-row input,
  .input-row button {
    display: inline-block;
    vertical-align: middle;
  }

  .input-row button {
    margin-left: 10px;
   
  }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var counter = 1;

    $('#add-input').on('click', function() {
      var input = $('<div class="input-row"><input class="form-control" style="width: 80%;" type="text" name="dataArray" placeholder="Nhập lịch trình ngày ' + (counter + 1) + '" /><button style="padding: 5px; border-radius: 8px; border-color: grey" type="button" class="remove-input">Xoá</button><br></div>');
      $('#input-container').append(input);
      counter++;
    });

    $('#input-container').on('click', '.remove-input', function() {
      $(this).closest('.input-row').remove();
      counter--; // Giảm giá trị của counter khi xoá phần tử
    });
  });
</script>

<script>
  // hiển thị hình ảnh khi chọn
  const displayImg = async () => {
    var file = document.getElementById('file').files[0];
    var reader = new FileReader();

    reader.onload = async function (e) {
      var image = document.getElementById("img");
      image.src = e.target.result;

      // Upload the file to Firebase Storage
      try {
        const formData = new FormData();
        formData.append('image', file);

        const response = await fetch('https://bnbtour.onrender.com/api/image/upload', {
          method: 'POST',
          body: formData,
        });

        if (response.ok) {
          const data = await response.json();
          // Do something with the imageURL from Firebase Storage
          console.log('Image URL:', data.imageURL);
          document.getElementById('imgUrl').value = data.imageURL;
        } else {
          console.error('Image upload failed:', response.statusText);
        }
      } catch (error) {
        console.error('Error uploading image:', error);
      }
    };

    reader.readAsDataURL(file);
  }
</script>